# Challenge 1

In [133]:
import nltk

In [134]:
from nltk.corpus import brown
nltk.download("brown")

[nltk_data] Downloading package brown to /Users/pablo/nltk_data...
[nltk_data]   Package brown is already up-to-date!

True

In [135]:
brown.words()[0:10]

['The',
 'Fulton',
 'County',
 'Grand',
 'Jury',
 'said',
 'Friday',
 'an',
 'investigation',
 'of']

In [136]:
brown.tagged_words()[0:10]

[('The', 'AT'),
 ('Fulton', 'NP-TL'),
 ('County', 'NN-TL'),
 ('Grand', 'JJ-TL'),
 ('Jury', 'NN-TL'),
 ('said', 'VBD'),
 ('Friday', 'NR'),
 ('an', 'AT'),
 ('investigation', 'NN'),
 ('of', 'IN')]

In [137]:
text = 'Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do. This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course. We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.'

In [138]:
from nltk import sent_tokenize, word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/pablo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [139]:
sent_tokenize(text)

['Ironhack is a Global Tech School ranked num 2 worldwide.',
 'Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do.',
 'This ideology is reflected in our teaching practices, which consist of a nine-weeks immersive programming, UX/UI design or Data Analytics course as well as a one-week hiring fair aimed at helping our students change their career and get a job straight after the course.',
 'We are present in 8 countries and have campuses in 9 locations - Madrid, Barcelona, Miami, Paris, Mexico City,  Berlin, Amsterdam, Sao Paulo and Lisbon.']

In [140]:
word_tokenize(text)

['Ironhack',
 'is',
 'a',
 'Global',
 'Tech',
 'School',
 'ranked',
 'num',
 '2',
 'worldwide',
 '.',
 'Our',
 'mission',
 'is',
 'to',
 'help',
 'people',
 'transform',
 'their',
 'careers',
 'and',
 'join',
 'a',
 'thriving',
 'community',
 'of',
 'tech',
 'professionals',
 'that',
 'love',
 'what',
 'they',
 'do',
 '.',
 'This',
 'ideology',
 'is',
 'reflected',
 'in',
 'our',
 'teaching',
 'practices',
 ',',
 'which',
 'consist',
 'of',
 'a',
 'nine-weeks',
 'immersive',
 'programming',
 ',',
 'UX/UI',
 'design',
 'or',
 'Data',
 'Analytics',
 'course',
 'as',
 'well',
 'as',
 'a',
 'one-week',
 'hiring',
 'fair',
 'aimed',
 'at',
 'helping',
 'our',
 'students',
 'change',
 'their',
 'career',
 'and',
 'get',
 'a',
 'job',
 'straight',
 'after',
 'the',
 'course',
 '.',
 'We',
 'are',
 'present',
 'in',
 '8',
 'countries',
 'and',
 'have',
 'campuses',
 'in',
 '9',
 'locations',
 '-',
 'Madrid',
 ',',
 'Barcelona',
 ',',
 'Miami',
 ',',
 'Paris',
 ',',
 'Mexico',
 'City',
 ',',
 'Berlin',
 ',',
 'Amsterdam',
 ',',
 'Sao',
 'Paulo',
 'and',
 'Lisbon',
 '.']

# Challenge 2

In [141]:
'''
ironhack s  q website  is
'''
s = "@Ironhack's-#Q website 776-is http://ironhack.com [(2018)]"

In [142]:
def clean_up(s):
    import re
    """
    Cleans up numbers, URLs, and special characters from a string.

    Args:
        s: The string to be cleaned up.

    Returns:
        A string that has been cleaned up.
    """
    s = re.sub("https?://(?:[-\w.]|(?:%[\da-fA-F]{2}))+", ' ', s)
    s = re.sub('\d+', ' ', s)
    s = re.sub('\W+', ' ', s)
    s = re.sub('_', ' ', s)
    return s.lower().strip()
clean_up(s)

'ironhack s q website is'

In [143]:
def tokenize(s):
    from nltk import word_tokenize
    """
    Tokenize a string.

    Args:
        s: String to be tokenized.

    Returns:
        A list of words as the result of tokenization.
    """
    return word_tokenize(clean_up(s))

In [144]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.stem import SnowballStemmer
nltk.download('wordnet', "porter", "snowball", "stopwords")
lemmatizer = WordNetLemmatizer()
lemmatizer.lemmatize('was')
lemmatizer.lemmatize('was', pos='v')

'be'

In [145]:
def stem_and_lemmatize(s):
    from nltk.stem import WordNetLemmatizer
    from nltk.stem import SnowballStemmer
    """
    Perform stemming and lemmatization on a list of words.

    Args:
        l: A list of strings.

    Returns:
        A list of strings after being stemmed and lemmatized.
    """
    return [WordNetLemmatizer().lemmatize(SnowballStemmer("english").stem(x)) for x in tokenize(s)]
    
print(stem_and_lemmatize(s))

['ironhack', 's', 'q', 'websit', 'is']

In [146]:
def remove_stopwords(s):
    from nltk.corpus import stopwords
    """
    Remove English stopwords from a list of strings.

    Args:
        l: A list of strings.

    Returns:
        A list of strings after stop words are removed.
    """
    stop_words = stopwords.words('english')
    return [w for w in stem_and_lemmatize(s) if not w in stop_words]

print(remove_stopwords(s))

['ironhack', 'q', 'websit']

# Challenge 3

In [147]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
txt = "Ironhack is a Global Tech School ranked num 2 worldwide.   Our mission is to help people transform their careers and join a thriving community of tech professionals that love what they do."
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores(txt)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/pablo/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

{'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.8442}

In [148]:
import pandas as pd
import numpy as np

In [149]:
df = pd.read_csv("Sentiment140.csv")
df_sample = df.sample(n=20000)

In [150]:
df_sample.head()

,target,id,date,flag,user,text
410523,0,2059893874,Sat Jun 06 17:51:02 PDT 2009,NO_QUERY,KabutoHunter,@WorldDude2 The Sky Crawlers does have amazing...
24595,0,1558049102,Sun Apr 19 07:04:35 PDT 2009,NO_QUERY,hbhbh,"is exhausted, soccer throughout the entire wee..."
671922,0,2247011488,Fri Jun 19 18:27:27 PDT 2009,NO_QUERY,Snickers56,"@cwknight Dude, that looks EXACTLY like my cat..."
680789,0,2249586004,Fri Jun 19 22:36:58 PDT 2009,NO_QUERY,sbjayy,@sadexposed but still if we 100 yaw gotta be p...
774086,0,2321375829,Wed Jun 24 20:58:13 PDT 2009,NO_QUERY,invisibleh,@GracePerry i was contemplating living in an R...

In [151]:
df_sample['text_processed'] = df_sample["text"].apply(remove_stopwords)

In [152]:
df_sample.head()

,target,id,date,flag,user,text,text_processed
410523,0,2059893874,Sat Jun 06 17:51:02 PDT 2009,NO_QUERY,KabutoHunter,@WorldDude2 The Sky Crawlers does have amazing...,"[worlddud, sky, crawler, doe, amaz, product, v..."
24595,0,1558049102,Sun Apr 19 07:04:35 PDT 2009,NO_QUERY,hbhbh,"is exhausted, soccer throughout the entire wee...","[exhaust, soccer, throughout, entir, week, much]"
671922,0,2247011488,Fri Jun 19 18:27:27 PDT 2009,NO_QUERY,Snickers56,"@cwknight Dude, that looks EXACTLY like my cat...","[cwknight, dude, look, exact, like, cat, back,..."
680789,0,2249586004,Fri Jun 19 22:36:58 PDT 2009,NO_QUERY,sbjayy,@sadexposed but still if we 100 yaw gotta be p...,"[sadexpos, still, yaw, got, ta, push, mayb, ya..."
774086,0,2321375829,Wed Jun 24 20:58:13 PDT 2009,NO_QUERY,invisibleh,@GracePerry i was contemplating living in an R...,"[graceperri, wa, contempl, live, rv, way, coul..."

In [153]:
df_sample.text_processed[:15].value_counts()

[back, kill, today, move, back, mom, hous, beingveri, lone]                                               1
[throat, hurt, cough]                                                                                     1
[sadexpos, still, yaw, got, ta, push, mayb, yaw, got, desert, kangeroo, shit, smh, nobodi, live, like]    1
[gabrielsanchez, presid, haha, actual, two, day]                                                          1
[worlddud, sky, crawler, doe, amaz, product, valu, dull, stori, put, sleep]                               1
[exhaust, soccer, throughout, entir, week, much]                                                          1
[last, week, wa, beach, look, sea, today, desk, look, sea, paper]                                         1
[great, weekend, realli]                                                                                  1
[graceperri, wa, contempl, live, rv, way, could, kill, two, bird, one, stone, everyon, say, bad, idea]    1
[love, fall, boy, right]                                                                                  1
[cancerladi, yeah, wish, rape, away]                                                                      1
[cwknight, dude, look, exact, like, cat, back, home, miss, veri, cute, kitti, though]                     1
[get, readi, basketbal, tri, take, nap, didnt, fall, asleep, im, tire]                                    1
[go, old, pictur, kind, miss, wear, glass, wow, never, imagin, say]                                       1
[miss, sister, mucho, grando, love, littl, fanci, face, xxx]                                              1
Name: text_processed, dtype: int64

In [154]:
lista = []
for x in df_sample.text_processed:
    lista += x

In [155]:
from nltk.probability import FreqDist

fdist = FreqDist(lista)
voc = fdist.most_common(5000)
top = [x[0] for x in voc]
#sorted(fdist, key=fdist.get, reverse=True)[:5000]

In [194]:
def find_features(document):
    words = set(document)
    features = {}
    for w in top:
        features[w] = (w in words)
    s = SentimentIntensityAnalyzer().polarity_scores(" ".join(document))
    if s["pos"] > 0.2:
        s = True
    else:
        s = False
    return (features, s)

feature = list(df_sample.text_processed.apply(find_features))

In [195]:
feature[19000][1]

True

In [199]:
from nltk.corpus import names

train_set, test_set = feature[500:], feature[:500]
classifier = nltk.NaiveBayesClassifier.train(train_set)
print("Classifier accuracy percent:",(nltk.classify.accuracy(classifier, test_set))*100)

Classifier accuracy percent: 85.0