In [479]:
#Proyecto Shark Attack

In [480]:
import pandas as pd

In [481]:
data = pd.read_csv('GSAF2.csv')

In [482]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [483]:
#Eliminamos las columnas unnamed 
data = data.rename(index=str, columns={"Sex ": "Sex", "Species ": "Species"})
data1 = data.drop(["Unnamed: 22","Unnamed: 23"], axis=1)

In [484]:
column_order = ['Case Number','Case Number.1','Case Number.2','Date','Year','Time','Country','Area','Location','Activity','Type','Name','Sex','Age','Injury','Fatal (Y/N)','Species','Investigator or Source','pdf','href formula','href','original order']
data1 = data1[column_order]

In [485]:
#Eliminamos todos los datos anteriores a 1900
years = data1["Year"]
drop_cols = list(years[years < 1900].index)
data1 = data1.drop(drop_cols, axis=0)

In [486]:
# Eliminamos las columnas Case Number.1 y .2 cuyos valores están duplicados con la columna Case Number
data1 = data1.drop(["Case Number.1","Case Number.2"], axis=1)

In [487]:
#Eliminamos la columna Name ya que no es relevante para el estudio
data1 = data1.drop(["Name"], axis=1)

In [488]:
data1.dtypes

Case Number               object
Date                      object
Year                       int64
Time                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Type                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
original order             int64
dtype: object

In [489]:
data1 = data1.drop(['Investigator or Source','pdf','href formula','href','original order','Injury'], axis=1)

In [490]:
null_cols1 = data1.isnull().sum()
null_cols1[null_cols1 > 0]

Time           2633
Country          22
Area            295
Location        363
Activity        426
Sex             505
Age            2103
Fatal (Y/N)       9
Species        2389
dtype: int64

In [491]:
data1 = data1.dropna(subset=['Country','Fatal (Y/N)','Area','Location'], axis=0)

In [492]:
null_cols1 = data1.isnull().sum()
null_cols1[null_cols1 > 0]

Time        2200
Activity     352
Sex          421
Age         1770
Species     2039
dtype: int64

In [493]:
data1[['Activity','Sex','Species']] = data[['Activity','Sex','Species']].fillna('Unknown')
data1[['Age','Time']] = data[['Age','Time']].fillna('0')

In [494]:
null_cols1 = data1.isnull().sum()
null_cols1[null_cols1 > 0]

Series([], dtype: int64)

In [495]:
data1.loc[data1['Activity'].str.startswith('Surf'), 'Activity'] = 'Surfing'
data1.loc[data1['Activity'].str.startswith('Fish'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Lobs'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Catch'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('fish'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Wade'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Harp'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Fly f'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Swim'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('Tread'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('Float'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('Bath'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('"Swim"'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('Wadi'), 'Activity'] = 'Swiming'
data1.loc[data1['Activity'].str.startswith('Kaya'), 'Activity'] = 'Kayaking'
data1.loc[data1['Activity'].str.startswith('Canoe'), 'Activity'] = 'Kayaking'
data1.loc[data1['Activity'].str.startswith('Scub'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('SCUB'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('Kite'), 'Activity'] = 'Kite'
data1.loc[data1['Activity'].str.startswith('Snor'), 'Activity'] = 'Snorkeling'
data1.loc[data1['Activity'].str.startswith('Boat'), 'Activity'] = 'Sailing'
data1.loc[data1['Activity'].str.startswith('Sail'), 'Activity'] = 'Sailing'
data1.loc[data1['Activity'].str.startswith('Free'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('Div'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('Skin'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('Pearl'), 'Activity'] = 'Diving'
data1.loc[data1['Activity'].str.startswith('Spear'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('Argentin'), 'Activity'] = 'Air Disaster'
data1.loc[data1['Activity'].str.startswith('Air'), 'Activity'] = 'Air Disaster'
data1.loc[data1['Activity'].str.startswith('"Flying Tiger"'), 'Activity'] = 'Air Disaster'
data1.loc[data1['Activity'].str.startswith('Boeing'), 'Activity'] = 'Air Disaster'
data1.loc[data1['Activity'].str.startswith('Boogie'), 'Activity'] = 'Bodyboarding'
data1.loc[data1['Activity'].str.startswith('Body'), 'Activity'] = 'Bodyboarding'
data1.loc[data1['Activity'].str.startswith('Play'), 'Activity'] = 'Playing'
data1.loc[data1['Activity'].str.startswith('Padd'), 'Activity'] = 'Paddling'
data1.loc[data1['Activity'].str.startswith('Jump'), 'Activity'] = 'Jumping'
data1.loc[data1['Activity'].str.startswith('Shark'), 'Activity'] = 'Shark Fishing'
data1.loc[data1['Activity'].str.startswith('Remov'), 'Activity'] = 'Shark Fishing'
data1.loc[data1['Activity'].str.startswith('Kill'), 'Activity'] = 'Shark Fishing'
data1.loc[data1['Activity'].str.startswith('Stand'), 'Activity'] = 'Standing'
data1.loc[data1['Activity'].str.startswith('Hunt'), 'Activity'] = 'Fishing'
data1.loc[data1['Activity'].str.startswith('No '), 'Activity'] = 'Unknown'
data1.loc[data1['Activity'].str.startswith('.'), 'Activity'] = 'Unknown'
data1.loc[data1['Activity'].str.startswith('Kite'), 'Activity'] = 'Kitesurfing'
data1.loc[data1['Activity'].str.startswith('Sea D'), 'Activity'] = 'Sea Disaster'
data1.loc[data1['Activity'].str.startswith('Ferry'), 'Activity'] = 'Sea Disaster'
data1.loc[data1['Activity'].str.startswith('Wind'), 'Activity'] = 'Windsurfing'
data1.loc[data1['Activity'].str.startswith('Help'), 'Activity'] = 'Helping'
data1.loc[data1['Activity'].str.startswith('Photo'), 'Activity'] = 'Photographing'

In [496]:
datavalue = data1[["Activity"]].stack().value_counts().index.tolist()
display(datavalue)
len(datavalue)

['Swiming',
 'Surfing',
 'Fishing',
 'Diving',
 'Unknown',
 'Bodyboarding',
 'Standing',
 'Snorkeling',
 'Kayaking',
 'Paddling',
 'Sailing',
 'Shark Fishing',
 'Playing',
 'Windsurfing',
 'Jumping',
 'Kitesurfing',
 'Walking',
 'Air Disaster',
 'Rowing',
 'Sitting on surfboard',
 'Sea Disaster',
 'Fell overboard',
 'Splashing',
 'Sea disaster',
 'Lifesaving drill',
 'Seine netting',
 'Walking out of the water after surfing',
 'Photographing',
 'Helping',
 'Hookah diving for abalone',
 'Fell into the water',
 'Escaping from Alacatraz',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 'Hard hat diving',
 'Crabbing',
 'Feeding fish',
 'Dangling feet in the water',
 'Sculling',
 'Crayfishing',
 'Splashing ',
 'Washing',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'Attempting to kill a shark with explosives',
 'Teasing a shark',
 'Finning the shark that bit him',
 'Rowing ',
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
 'Jet skiing',
 'Cruising',
 'Hoisting shark aboard fishing boat',
 'Suicide',
 'Tagging sharks',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Hookah diving for sea urchins',
 'Launching rowboat through the surf',
 'Collecting shells',
 'Clamming',
 'Sponge diving',
 'Sitting in the water',
 'Abalone diving using Hookah (resting on the surface)',
 'Bitten while cutting shark from net',
 'Trailing the field in a surf race',
 'Dropping anchor',
 'Adrift after wave swamped engine',
 'Walking in surf',
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'Hookah diving',
 'p�cheur de bichiques',
 'Dismantling cable buoys of the cable ship All America',
 'Sinking of the dredge World Atlas',
 'Kneeling in the water',
 'Collecting beche-de-mer',
 'Knocked into the water',
 'Reviving a sedated shark',
 'Hauling in net with shark in it',
 'Cargo ship Dara sank after collision with another ship during a severe storm',
 'Sitting on gunwale of boat',
 'Hard hat diving, laying some charge of powder',
 'NSB Meshing',
 'Sunbathing on beach when he saw child being attacked by the shark',
 'On a "shark hunt"',
 'Inflatable boat',
 'Attaching a line at sea',
 'Lifesaving exhibition',
 'Sittting in water with his child',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Underwater photography',
 'Fell overboard from P&O steamship Arabia',
 'Wreck / Technical diving',
 'Attempting to drive shark away from the beach',
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea',
 'Towing her sister on plastic ski board',
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force. ',
 'Attempting to fix motor',
 'Goggle-diving for seaweeds, but standing in water',
 'Marathon swimming',
 'On inflatable raft',
 'Chumming for sharks',
 'Filming',
 'Netting shrimp',
 'Hookah diving for pen shells ',
 'Tech diving ',
 'Wrangling a shark',
 'Net fishing, picking catch from the net',
 'Clinging to overturned rowing boat',
 'Yacht Gooney Bird foundered, 4 survivors on raft',
 'Swept out to sea while fishing',
 "Sitting in 3' of water",
 'Working near fish traps',
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
 'Attempting to catch a crocodile',
 'Hardhat diving from Japanese pearling lugger, Reiyo Maru',
 'Motor boat Rebel Belle lost',
 'Lost his footing & fell overboard',
 'Ejected from F3H-2 aircraft ',
 'Holding onto an inflatable boat',
 'Towing rubber dinghy',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Hookah Diving',
 'Longling fishing',
 'In water with diving seabirds',
 'Setting crayfish pots',
 'Fell overboard & swimming',
 'Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island ',
 'Walking, carrying surfboard & stepped on shark',
 'Competing in a light tackle game fishing',
 "Crouching in 2' of water",
 'Dragging stranded shark ashore',
 'Attempting to illegally enter the USA',
 'Pulling shark from the water',
 'Row boat (from the gunboat Elcano) was sinking, put finger in hole',
 'Fell overboard from SS Ripley Castle',
 'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog',
 'Oyster fishing',
 "Filming 5' blue shark",
 'Had just dived into water & was swimming',
 'Lying on surfboard',
 'Hardhat diving ',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 '3-masted steel barque Glenbank foundered during a cyclone',
 'Night Surfing',
 'Fell from cliff while fishing & disappeared in strong current',
 'Water-skiing',
 'Collecting fish in military trap when bitten by captured shark that had been shot by soldiers with Garten',
 'Racing ski',
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
 'Wakeboarding',
 'Attempting to set underwater endurance record',
 'Netting pilchards',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Washing clothes',
 'Fell off surf ski',
 'Scallop diving on hookah',
 'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
 'cargo ship Southern Isle sank at 04h00',
 'Wreck of the tug Magellan',
 'Dragging banana seeds through the shallows',
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
 'Washed into sea while picking opihi',
 'Night diving',
 'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board',
 'Murder victim',
 'Attempting to net shark in shark channel',
 'Scurfing (surfboard being  towed behind a boat)',
 'Touching the mouth of a supposedly dead shark',
 'Defecating in water beneath the docks',
 'Shipwrecked',
 'Adrift after ditching plane in the sea',
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126',
 'Washing his feet',
 'Dynamite fishing',
 'Pleasure boating',
 'Sitting in a boat',
 '25-foot cabin cruiser Happy Jack sank in heavy seas',
 'After rowing skiff was holed by shark, he was attempting to swim ashore',
 'Collecting fish from net',
 'German raider Kormoran was sunk in an engagement with HMAS Sydney',
 'Returning to shore, collided with shark',
 'Dog paddling or standing',
 'Sitting',
 'Jerked overboard while pole fishing for tuna',
 'Fell overboard from USS cruiser Tacoma',
 'Columbian petrol barge Rio Atrato burned and sank',
 'Hookah diving for abalone (descending)',
 'Ship Mariston torpedoed & sunk',
 'Splashing in water ',
 'In deep water about 100 yards from his ship',
 'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna',
 'On December 28, 1908, an earthquake, followed by tsunamis, destroyed coastal towns in Silcily and southern Italy, killing more than 100,000 people',
 'seaplane Columbus ditched in the sea',
 'Preparing to fish for jack-mackerel',
 'Checking fish traps, fell into the water',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
 'Rescuing seaman after ship sunk by German raider',
 'Sleeping in anchored boat',
 'Crouching in the water',
 "Attempting to lasso shark's tail",
 'Crawling',
 'U.S. Airforce crewman reported missing after bailing out of jet',
 'Ditched aircraft, 3 men in the water. Swam for 31 hours',
 'Reached out to disentangle rope & fell overboard',
 'Touching sharks',
 'Rolled off raft',
 'Gigging for flounder',
 'Attempting to Kite surf from Egypt to Saudi Arabia',
 'Steinhart Aquarium',
 'Helmet diving, collecting trochus shell',
 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)',
 'Collecting ornamental fish',
 'Cutter capsized',
 'Feeding stingrays?',
 'Feeding mullet to sharks',
 'Casting a net',
 'Collecting fish by lamplight in gully',
 'Walking / surfing',
 'Placed hand in disemboweled shark�s jaws',
 'Petting a shark',
 'Murder',
 'Copra vessel with 19 on board was wrecked in a squall',
 'Vessel caught fire & capsized, survivors in the water',
 'On expedition filming a feature movie & standing on tripod',
 'Flying Fortress bomber aircraft went down after daytime raid on Naples. He was swimming on the surface',
 'Harpooned shark',
 'Thrown into water from fishing dinghy',
 'Killing  sharks',
 "Fell off surfboard 20' from shore",
 'canoeing',
 'Tandem surfing',
 'Hookah diving (submerged)',
 'Dynamiting fish',
 'Walking on reef',
 'Bringing hooked, harpooned shark onboard boat',
 'Sitting in shallows',
 'Working prawn net',
 'Bottom fishing for lingcod & had hooked a fish',
 'Gaffing & attempting to bring onboard a harpooned shark',
 'Measuring sharks',
 'Attempting to ride a shark',
 'Fell overboard, prop slashed arm',
 'Collecting dynamited fish',
 'Ran into the water',
 'Examining netted shark, that had been shot',
 'Ocean racing',
 'Net fishing, fell into the water',
 'Attempted to return injured shark to the sea',
 'Collecting aquarium specimens',
 'Commercial diver (submerged or treading water)',
 "Captured Allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
 'Conducting research',
 'SUP',
 'Attempting to swim across the Atlantic Ocean',
 'Dragging stranded shark into deeper water',
 '1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909',
 'Bending over',
 'On a float',
 'Walking in shallows',
 'Put foot inside mouth of supposedly dead shark',
 'Leaving the water',
 'Sinking of the cargo ship Mark Jason',
 'Attempting to retreive a dinghy',
 'Gathering shells',
 'Yacht of Michael Howell capsized',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 '3 men & 2 boys picked up wearing life jackets and with inner tube',
 'Shooting sharks ',
 'Adrift in a life jacket',
 'Investigating shark sighting',
 'Unknown, their unoccupied yawlboat was recovered',
 'Pacific Seafarer of US Navy',
 'Commercial fishing vessel, Ev-nn, struck object & sank. Ken Crosby and  Jame & Ann Dumas adrift on makeshift raft.',
 'Observing a shark feeding on a carcass of a humpback whale',
 'Overturned skiff',
 'Resting on body board',
 'Testing anti-shark cage',
 'SUP Foil boarding',
 'On boat, preparing to dive',
 'Fell overboard from steamship Rio Grande',
 'Steamer Una wrecked with 75 laborers onboard. Survivors took to rafts & lifeboats.',
 'Fell overboard from fishing schooner Halycon',
 'Splashing / wading',
 'Grabbed shark & threw it on deck',
 'Gathering fish stunned by dynamite',
 'Moving a shark in a net ',
 "Fell from his father's back into the water",
 'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',
 'His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation  ',
 'Dry shelling',
 'Searching for remains of  Dr. Marais',
 'Rescuing',
 'Lifeboat capsized',
 'Swept out to sea while net fishing',
 '"Riding waves on a board"',
 "40' fishing boat sank",
 'Pulling hooked salmon to boat',
 ' ',
 'Washed overboard into school of fish',
 'Shell diving',
 'Watching seine netters with friends, one of whom picked up a netted shark',
 'Stamding',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Washed off freighter Huncliff by a freak wave',
 'Lying prone on surfboard',
 "Competing in U/W endurance record, standing beside drum in 10' of water",
 'Petting captive sharks',
 'Walking in chest-deep water',
 'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
 'Light aircraft ditched at sea',
 'Washing sand off a speared fish',
 'Attacked shark with fists',
 'Fell overboard?',
 'ship M.V. Rizal sank during typhoon',
 'The 168-ton Belmore foundered in heavy seas',
 'Batin',
 'On fishing boat & trailing hand in the water',
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'Commercial spearfishing',
 'Slapped shark on tail as it swam by',
 'Reported swept away by waves while gathering opihi',
 'Attempting to rescue a shark',
 'Shrimping',
 'Trochus diving, but floating on surface',
 'Hiking on the beach',
 'Taking catch from a fish weir in which the shark was snared',
 'Fell from wharf into water & attacked immediately',
 'Taken as he dived into the water',
 'Riding floatation device',
 '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore',
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
 'Beach seine netting',
 'Hookah diving for abalone (submerged)',
 'Rowing an inflatable dinghy',
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129',
 'Taking wife to beach & about 1 m from the shore',
 'Fell from the jetty',
 'Holding shark on leader & dangling it above the water',
 'native boats sunk in storm',
 'In waist-deep water',
 'Fell overboard, hanging onto lifebuoy',
 'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.',
 'Fell into water while attempting to boat a swordfish',
 'Crossing the bay at the ford',
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn�t notice they were missing',
 'Attempting to anesthetize shark',
 'wreck of the State Oil Company ship Permina',
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished',
 'Hardhat diving',
 'Shipwrecked pearling schooner',
 'Wreck of the 1308-ton Norwegian ship Auckland',
 "Sitting in bow of her father's 5 m boat",
 'Put foot inside a landed & supposedly dead shark',
 'Slipped off rocks and fell into the water',
 'Watching seals',
 'Attempting to drive shark away from sailing regatta',
 'Lying on surfboard & paddling',
 'male',
 'Shipwreck',
 'Attempting to drag hooked shark ashore by its tail',
 'Washed overboard',
 "On board 51' fishing vessel One Ki",
 'The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda�s boats',
 'Chasing shark out of bathing area while riding on a surf-ski',
 'Steamer Durao struck rock & filled, boats capsized, passengers & crew tried to swim to shore',
 'Sinking of the ferryboat      Don Juan',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Abalone diving using Hookah (near calving whales)',
 "Holding shark's tail ",
 'Vehicle plunged over cliff into the water',
 'Pulling raft out to ride to shore',
 'Taking boat from California to Florida when it ran aground & he was swimming back to boat',
 'Washed into sea while picking opihi & attacked by 2 large sharks ',
 'Washing clothes on stairs',
 'Sinking of the M/V Mindoro during a typhoon',
 'Refused permission to cross on the ferry, he was swimming across the river',
 'Attempting to chase shark out to sea',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Drift fishing',
 'Picking up shark by the tail',
 'Helmet diving in Miami Seaquarium',
 'Went over side of boat at trochus ground',
 'Cleaning fish',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Collecting crayfish',
 'Scooping prawns',
 'Collecting marine specimens',
 'Inebriated, woke from sleep and fell off deck into the water ',
 'Stuffing a shark into an automobile',
 'Watching the shark feeding on a dead pinniped',
 'Retrieving bait box that had fallen overboard',
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21',
 'Filming & feeding captive sharks',
 'Fell off banana boat',
 'Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
 'Italian liner Principessa Mafalda sank',
 'Adrift on refugee raft',
 'Attempting to attract dolphins',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Splashing in surf',
 "Lying on the bottom of a 16' dinghy",
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
 'Attempting to rescue an injured & beached shark',
 "Lying prone in 2' of water",
 'Yacht race',
 "Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm",
 'Crabbing (spearing crabs)',
 'Cleaning a tank',
 'Chumming for white sharks',
 'Seining for bait, standing in chest-deep water',
 'Fell overboard while fishing for sharks',
 'Cleaning hull of ship ',
 'Hand feeding sharks',
 'Competing in spearfishing championship & towing dead fish',
 'Pulling anchor',
 'Washing cooking pans',
 'Feeding prawns to captive sharks',
 'boat with 46 people on board capsized',
 'Retrieving meat from a cage in the water',
 '"Swimming vigorously"',
 'Sitting on side of dinghy mending a net',
 'Netting sharks',
 'Feeling the shark�s teeth',
 'Riding horseback across the creek',
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
 "Onboard 21' powerboat that capsized in rough seas",
 'Board sailing',
 'Exercising his dog in the shallows',
 'Lying atop surfboard',
 'S2F-1 airplane crashed immediately after carrier take-off',
 'preparing to go skin diving',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'The steamer Tahiti collided with the ferry Greycliffe',
 'Lying in 2 feet of water',
 'Lobstering',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Hand lining for shad',
 'Killing a shark',
 'Dress diving, filming shark & pulling it through the water for a motion picture scene',
 "Ship's boat capsized in squall, captain & 2 sailors clinging onto hull",
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Fell onto dead shark',
 'Filming underwater, carrying powerhead',
 "12 of the Penang's crew were returning to the ship when their 12' dinghy capsized",
 'Resting on surfboard',
 'Disappeared 11 days earlier, probable homicide victim',
 'Washing horses',
 'Attempting to rescue drowning man',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Rowing toward snapper grounds',
 'Harpooning turtles',
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours']

453