In [60]:
import pandas as pd

data_stats = pd.read_csv("nba-players-stats/Seasons_Stats.csv")
display(data_stats.head())
data_salary = pd.read_csv("nba-players-stats/NBA_season1718_salary.csv")
display(data_salary.head())
data_players = pd.read_csv("nba-players-stats/Players.csv")
display(data_players.head())

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

   Unnamed: 0          Player   Tm  seson17_18
0           1   Stephen Curry  GSW  34682550.0
1           2    LeBron James  CLE  33285709.0
2           3    Paul Millsap  DEN  31269231.0
3           4  Gordon Hayward  BOS  29727900.0
4           5   Blake Griffin  DET  29512900.0

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
0,0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky

In [61]:
data = pd.merge(data_stats, data_salary, how = "outer", on = 'Player', validate = "m:m")
data = pd.merge(data, data_players, how = "outer", on = 'Player', validate = "m:m")
data = data[(data['Year']== 2017)]
data.head()

,Unnamed: 0_x,Year,Player,Pos,Age,Tm_x,G,GS,MP,PER,...,Unnamed: 0_y,Tm_y,seson17_18,Unnamed: 0,height,weight,collage,born,birth_city,birth_state
5899,24235.0,2017.0,Mike Dunleavy,SF,36.0,TOT,53.0,2.0,841.0,10.1,...,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
5900,24236.0,2017.0,Mike Dunleavy,SF,36.0,CLE,23.0,2.0,366.0,7.6,...,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
5901,24237.0,2017.0,Mike Dunleavy,SF,36.0,ATL,30.0,0.0,475.0,11.9,...,352.0,ATL,1662500.0,1146.0,190.0,81.0,University of South Carolina,1954.0,Brooklyn,New York
6186,24430.0,2017.0,John Lucas,PG,34.0,MIN,5.0,0.0,11.0,9.1,...,NaN,NaN,NaN,1183.0,190.0,79.0,University of Maryland,1953.0,Durham,North Carolina
7440,24322.0,2017.0,Gerald Henderson,SG,29.0,PHI,72.0,41.0,1667.0,10.8,...,453.0,PHI,1000000.0,1359.0,188.0,79.0,Virginia Commonwealth University,1956.0,Richmond,Virginia

In [62]:
before = len(data)
data= data.drop_duplicates(subset= 'Unnamed: 0_x')
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  46

In [63]:
#Eliminamos las columnas que no contienen valores y la columna de Tm que estÃ¡ duplicada
data = data.drop(['Unnamed: 0_y','Unnamed: 0_x','FT%','Unnamed: 0','WS/48', 'OBPM', 'DBPM', 'BPM','blanl','2P%', 'eFG%','TS%','TOV%', 'USG%','blank2','Tm_y','born','ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%','BLK%','3P%'], axis=1)
data = data.rename(index=str, columns={"seson17_18": "Salary", "Tm_x": "Team", "height": "Height", "weight": "Weight","collage": "Collage","birth_city": "Birth_City","birth_state": "Birth_State",})
data.columns.values

array(['Year', 'Player', 'Pos', 'Age', 'Team', 'G', 'GS', 'MP', 'PER',
       '3PAr', 'FTr', 'OWS', 'DWS', 'WS', 'VORP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Salary', 'Height', 'Weight',
       'Collage', 'Birth_City', 'Birth_State'], dtype=object)

In [64]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

3PAr             2
FTr              2
FG%              2
Salary          89
Collage        133
Birth_City      34
Birth_State     36
dtype: int64

In [65]:
null_displ = data[(data['3PAr'].isnull()==True)]
null_displ = data[(data['FTr'].isnull()==True)]

#pd.set_option('display.max_columns', 56)

In [66]:
#DespuÃ©s de comprobar a que se deben los nulos en cada columna, asignamos 0 a estos nulos, ya que se deben a que son estadisticas realizadas con algÃºn valor 0
data[['3PAr','FTr']] = data[['3PAr','FTr']].fillna(0.0)
data[['Collage','Birth_City','Birth_State']] = data[['Collage','Birth_City','Birth_State']].fillna("Unknown")

In [67]:
def addsalary(players, data = data, column1 = "Player", column2 = "Salary"):
    for player in players:
        data.loc[(data[column1] == player), column2] = players[player]
    return data

#Datos tomados de: https://www.spotrac.com/nba/
players = {"Metta World": 1551659.0, "Boris Diaw": 7000000.0, "James Jones": 1551659.0, "Kris Humphries": 2328652.0, "Sasha Vujacic": 1410598.0, "Alan Anderson": 1315448.0, "Brandon Bass": 1551659.0, "David Lee": 1578813.0, "Randy Foye":2500000.0, "Sergio Rodriguez":8000000.0, "Luis Scola":5000000.0, "Rodney Stuckey": 7000000.0, "Roy Hibbert": 2941176.0, "Anthony Morrow": 2116955.0, "Terrence Jones": 247285.0, "Hollis Thompson": 1015696.0, "Luc Mbah": 4320500.0, "Toney Douglas": 633000.0, "Ty Lawson":1315448.0, "Kevin Seraphin":1840500.0, "Lavoy Allen": 4000000.0, "Donatas Motiejunas": 618212.0, "Brian Roberts": 1050961.0, "Thomas Robinson": 1757429.0, "Anthony Bennett": 1577230.0, "James Michael": 760000.0, "Damjan Rudez": 1524305.0, "C.J. Wilcox": 1209600.0, "James Young": 1621415.0, "Darrun Hilliard": 874636.0, "Marcelo Huertas": 1533800.0, "Jordan McRae": 874636.0, "Semaj Christon":832994.0, "Sheldon McClellan": 543471.0, "Maurice Ndour": 724360.0}

addsalary(players)
null_displ = data[(data['Salary'].isnull()==True)]
G = null_displ['G']
null_displ[G > 20]
#Eliminamos los jugadores que han jugado menos de 20 partidos y su salario es nulo (46 jugadores)
data = data.dropna(subset=['Salary'], axis=0)

In [68]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

FG%    1
dtype: int64

In [69]:
data.columns.values
column_order = ['Year', 'Player', 'Age', 'Height','Weight','Birth_State', 'Birth_City', 'Collage', 'Team', 'Pos', 'Salary','G', 'GS', 'PTS', 'MP', 'PER', 'FTr', 'OWS', 'DWS', 'WS', 'VORP', 'FG', 'FGA', '3P', '3PA','2P', '2PA', 'FT', 'FTA', 'ORB', 'DRB','TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF']
data = data[column_order]
data

,Year,Player,Age,Height,Weight,Birth_State,Birth_City,Collage,Team,Pos,...,FT,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF
5899,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,TOT,SF,...,36.0,45.0,18.0,97.0,115.0,50.0,15.0,7.0,28.0,67.0
5900,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,CLE,SF,...,14.0,19.0,5.0,42.0,47.0,20.0,6.0,2.0,14.0,32.0
5901,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,ATL,SF,...,22.0,26.0,13.0,55.0,68.0,30.0,9.0,5.0,14.0,35.0
7440,2017.0,Gerald Henderson,29.0,188.0,79.0,Virginia,Richmond,Virginia Commonwealth University,PHI,SG,...,133.0,165.0,34.0,151.0,185.0,112.0,41.0,15.0,62.0,129.0
8344,2017.0,Larry Nance,24.0,208.0,92.0,South Carolina,Anderson,Clemson University,LAL,PF,...,59.0,80.0,120.0,249.0,369.0,96.0,82.0,40.0,56.0,149.0
12116,2017.0,Tim Hardaway,24.0,183.0,79.0,Illinois,Chicago,University of Texas at El Paso,ATL,SG,...,164.0,214.0,35.0,189.0,224.0,182.0,55.0,15.0,106.0,103.0
14916,2017.0,Glenn Robinson,23.0,201.0,102.0,Indiana,Gary,Purdue University,IND,SF,...,54.0,76.0,57.0,188.0,245.0,47.0,41.0,20.0,37.0,63.0
16716,2017.0,Vince Carter,40.0,198.0,99.0,Florida,Daytona Beach,University of North Carolina,MEM,SF,...,88.0,115.0,36.0,191.0,227.0,133.0,60.0,36.0,50.0,163.0
17085,2017.0,Dirk Nowitzki,38.0,213.0,111.0,Germany,Wurzburg,Unknown,DAL,PF,...,98.0,112.0,23.0,330.0,353.0,82.0,30.0,38.0,51.0,113.0
17129,2017.0,Paul Pierce,39.0,201.0,106.0,California,Oakland,University of Kansas,LAC,SF,...,10.0,13.0,1.0,47.0,48.0,10.0,4.0,5.0,16.0,40.0
17673,2017.0,Jason Terry,39.0,188.0,83.0,Washington,Seattle,University of Arizona,MIL,SG,...,24.0,29.0,15.0,91.0,106.0,98.0,45.0,20.0,36.0,95.0
17718,2017.0,Metta World,37.0,190.0,81.0,Unknown,Unknown,Unknown,LAL,SF,...,10.0,16.0,5.0,15.0,20.0,11.0,9.0,2.0,7.0,18.0
17821,2017.0,Jamal Crawford,36.0,196.0,90.0,Washington,Seattle,University of Michigan,LAC,SG,...,174.0,203.0,17.0,112.0,129.0,213.0,59.0,14.0,134.0,115.0
18435,2017.0,Tyson Chandler,34.0,216.0,108.0,California,Hanford,Unknown,PHO,C,...,91.0,124.0,154.0,385.0,539.0,30.0,33.0,24.0,67.0,126.0
18562,2017.0,Pau Gasol,36.0,213.0,113.0,Spain,Barcelona,Unknown,SAS,C,...,130.0,184.0,107.0,394.0,501.0,150.0,24.0,70.0,81.0,110.0
18659,2017.0,Richard Jefferson,36.0,201.0,105.0,California,Los Angeles,University of Arizona,CLE,SF,...,80.0,108.0,28.0,174.0,202.0,78.0,26.0,10.0,52.0,153.0
18699,2017.0,Joe Johnson,35.0,201.0,90.0,Mississippi,Carthage,University of Iowa,UTA,SF,...,63.0,77.0,33.0,209.0,242.0,144.0,36.0,18.0,69.0,93.0
18751,2017.0,Tony Parker,34.0,188.0,83.0,Belgium,Bruges,Unknown,SAS,PG,...,85.0,117.0,9.0,104.0,113.0,285.0,33.0,2.0,89.0,92.0
18787,2017.0,Zach Randolph,35.0,206.0,117.0,Indiana,Marion,Michigan State University,MEM,PF,...,141.0,193.0,182.0,416.0,598.0,122.0,38.0,10.0,99.0,136.0
19082,2017.0,Manu Ginobili,39.0,198.0,92.0,Argentina,Bahia Blanca,Unknown,SAS,SG,...,86.0,107.0,28.0,129.0,157.0,183.0,82.0,16.0,96.0,119.0
19146,2017.0,Nene Hilario,34.0,211.0,113.0,Brazil,Sao Carlos,Unknown,HOU,C,...,116.0,197.0,95.0,186.0,281.0,65.0,56.0,40.0,73.0,163.0
19434,2017.0,Carmelo Anthony,32.0,203.0,108.0,New York,New York,Syracuse University,NYK,SF,...,304.0,365.0,62.0,374.0,436.0,213.0,60.0,34.0,153.0,198.0
19464,2017.0,Leandro Barbosa,34.0,190.0,87.0,Brazil,San Paulo,Unknown,PHO,SG,...,40.0,45.0,15.0,89.0,104.0,81.0,31.0,8.0,48.0,82.0
19480,2017.0,Matt Barnes,36.0,203.0,95.0,Rhode Island,Providence,Providence College,TOT,SF,...,70.0,89.0,70.0,317.0,387.0,194.0,48.0,26.0,107.0,185.0
19481,2017.0,Matt Barnes,36.0,203.0,95.0,Rhode Island,Providence,Providence College,SAC,SF,...,50.0,66.0,55.0,241.0,296.0,149.0,36.0,17.0,83.0,138.0
19482,2017.0,Matt Barnes,36.0,203.0,95.0,Rhode Island,Providence,Providence College,GSW,SF,...,20.0,23.0,15.0,76.0,91.0,45.0,12.0,9.0,24.0,47.0
19611,2017.0,Boris Diaw,34.0,203.0,113.0,France,Cormeille-en-Parisis,Unknown,UTA,PF,...,26.0,35.0,46.0,112.0,158.0,170.0,18.0,9.0,87.0,83.0
19689,2017.0,Udonis Haslem,36.0,203.0,106.0,Florida,Miami,University of Florida,MIA,C,...,9.0,15.0,8.0,28.0,36.0,6.0,5.0,1.0,8.0,22.0
19741,2017.0,LeBron James,32.0,203.0,113.0,Ohio,Akron,Unknown,CLE,SF,...,358.0,531.0,97.0,543.0,640.0,646.0,92.0,44.0,303.0,134.0
19784,2017.0,James Jones,36.0,190.0,81.0,Unknown,Unknown,Assumption College,CLE,SF,...,13.0,20.0,3.0,35.0,38.0,14.0,7.0,10.0,10.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24901,2017.0,Georgios Papagiannis,19.0,216.0,108.0,Greece,Amarousio,Unknown,SAC,C,...,12.0,14.0,24.0,62.0,86.0,20.0,3.0,17.0,24.0,44.0
24903,2017.0,Gary Payton,24.0,193.0,81.0,California,Oakland,Oregon State University,MIL,PG,...,3.0,5.0,0.0,12.0,12.0,13.0,3.0,4.0,10.0,9.0
24904,2017.0,Marshall Plumlee,24.0,211.0,111.0,Indiana,Fort Wayne,Duke University,NYK,C,...,8.0,19.0,23.0,28.0,51.0,10.0,4.0,4.0,12.0,23.0
24905,2017.0,Jakob Poeltl,21.0,213.0,112.0,Austria,Vienna,University of Utah,TOR,C,...,31.0,57.0,78.0,87.0,165.0,12.0,17.0,20.0,29.0,113.0
24906,2017.0,Alex Poythress,23.0,201.0,107.0,Georgia,Savannah,University of Kentucky,PHI,PF,...,8.0,10.0,11.0,18.0,29.0,5.0,3.0,2.0,3.0,14.0
24908,2017.0,Chasson Randle,23.0,188.0,83.0,Illinois,Rock Island,Stanford University,TOT,PG,...,41.0,43.0,6.0,26.0,32.0,34.0,9.0,2.0,19.0,39.0
24909,2017.0,Chasson Randle,23.0,188.0,83.0,Illinois,Rock Island,Stanford University,PHI,PG,...,12.0,12.0,0.0,5.0,5.0,6.0,3.0,1.0,3.0,11.0
24910,2017.0,Chasson Randle,23.0,188.0,83.0,Illinois,Rock Island,Stanford University,NYK,PG,...,29.0,31.0,6.0,21.0,27.0,28.0,6.0,1.0,16.0,28.0
24911,2017.0,Malachi Richardson,21.0,198.0,92.0,New Jersey,Trenton,Syracuse University,SAC,SG,...,15.0,19.0,3.0,20.0,23.0,11.0,5.0,1.0,8.0,23.0
24912,2017.0,Domantas Sabonis,20.0,211.0,108.0,Oregon,Portland,Gonzaga University,OKC,PF,...,44.0,67.0,45.0,242.0,287.0,82.0,39.0,32.0,83.0,200.0
24913,2017.0,Dario Saric,22.0,208.0,101.0,Croatia,Sibenik,Unknown,PHI,PF,...,172.0,220.0,112.0,401.0,513.0,182.0,57.0,30.0,183.0,162.0
24914,2017.0,Tomas Satoransky,25.0,201.0,95.0,Czech Republic,Prague,Unknown,WAS,SG,...,23.0,33.0,25.0,58.0,83.0,92.0,26.0,6.0,38.0,60.0
24915,2017.0,Wayne Selden,22.0,196.0,104.0,Massachusetts,Roxbury,University of Kansas,TOT,SG,...,14.0,22.0,1.0,15.0,16.0,13.0,6.0,1.0,12.0,18.0
24916,2017.0,Wayne Selden,22.0,196.0,104.0,Massachusetts,Roxbury,University of Kansas,NOP,SG,...,2.0,4.0,0.0,5.0,5.0,1.0,2.0,0.0,3.0,6.0
24917,2017.0,Wayne Selden,22.0,196.0,104.0,Massachusetts,Roxbury,University of Kansas,MEM,SG,...,12.0,18.0,1.0,10.0,11.0,12.0,4.0,1.0,9.0,12.0
24918,2017.0,Pascal Siakam,22.0,206.0,104.0,Cameroon,Douala,New Mexico State University,TOR,PF,...,22.0,32.0,64.0,121.0,185.0,17.0,26.0,45.0,33.0,109.0
24919,2017.0,Diamond Stone,19.0,211.0,115.0,Wisconsin,Milwaukee,University of Maryland,LAC,C,...,4.0,4.0,1.0,5.0,6.0,0.0,0.0,1.0,2.0,5.0
24924,2017.0,Isaiah Taylor,22.0,190.0,77.0,California,Hayward,University of Texas at Austin,HOU,PG,...,1.0,2.0,1.0,2.0,3.0,3.0,1.0,1.0,0.0,6.0
24926,2017.0,Tyler Ulis,21.0,178.0,68.0,Michigan,Detroit,University of Kentucky,PHO,PG,...,55.0,71.0,20.0,75.0,95.0,226.0,48.0,5.0,77.0,73.0
24928,2017.0,Denzel Valentine,23.0,198.0,96.0,Michigan,Lansing,Michigan State University,CHI,SG,...,14.0,18.0,11.0,140.0,151.0,63.0,30.0,7.0,49.0,86.0
24929,2017.0,Fred VanVleet,22.0,183.0,88.0,Illinois,Rockford,Wichita State University,TOR,PG,...,18.0,22.0,4.0,38.0,42.0,35.0,17.0,2.0,15.0,36.0
24930,2017.0,Taurean Waller-Prince,22.0,183.0,88.0,Unknown,Unknown,Unknown,ATL,SF,...,74.0,94.0,25.0,132.0,157.0,55.0,43.0,27.0,61.0,96.0
24931,2017.0,Okaro White,24.0,203.0,92.0,Florida,Clearwater,Florida State University,MIA,PF,...,20.0,22.0,25.0,57.0,82.0,21.0,10.0,10.0,18.0,52.0
24932,2017.0,Isaiah Whitehead,21.0,193.0,96.0,New York,Brooklyn,Seton Hall University,BRK,PG,...,91.0,113.0,32.0,152.0,184.0,192.0,42.0,36.0,142.0,175.0
24933,2017.0,Troy Williams,22.0,198.0,97.0,South Carolina,Columbia,South Carolina State University,TOT,SF,...,21.0,32.0,15.0,54.0,69.0,25.0,27.0,10.0,33.0,60.0
24935,2017.0,Troy Williams,22.0,198.0,97.0,South Carolina,Columbia,South Carolina State University,MEM,SF,...,15.0,25.0,6.0,39.0,45.0,19.0,24.0,9.0,27.0,42.0
24937,2017.0,Troy Williams,22.0,198.0,97.0,South Carolina,Columbia,South Carolina State University,HOU,SF,...,6.0,7.0,9.0,15.0,24.0,6.0,3.0,1.0,6.0,18.0
24940,2017.0,Stephen Zimmerman,20.0,213.0,108.0,Tennessee,Hendersonville,"University of Nevada, Las Vegas",ORL,C,...,3.0,5.0,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0
24941,2017.0,Paul Zipser,22.0,203.0,97.0,Germany,Heidelberg,Unknown,CHI,SF,...,31.0,40.0,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0
24942,2017.0,Ivica Zubac,19.0,216.0,120.0,Bosnia and Herzegovina,Mostar,Unknown,LAL,C,...,32.0,49.0,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0

In [70]:
data.to_csv('players_stats_salary.csv', index=False)