In [132]:
import pandas as pd
import numpy as np

In [135]:
data = pd.read_csv("players_stats_salary.csv")
data.head()

,Year,Player,Age,Height,Weight,Birth_State,Birth_City,Collage,Team,Pos,...,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF
0,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,TOT,SF,...,45.0,0.800,18.0,97.0,115.0,50.0,15.0,7.0,28.0,67.0
1,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,CLE,SF,...,19.0,0.737,5.0,42.0,47.0,20.0,6.0,2.0,14.0,32.0
2,2017.0,Mike Dunleavy,36.0,190.0,81.0,New York,Brooklyn,University of South Carolina,ATL,SF,...,26.0,0.846,13.0,55.0,68.0,30.0,9.0,5.0,14.0,35.0
3,2017.0,Gerald Henderson,29.0,188.0,79.0,Virginia,Richmond,Virginia Commonwealth University,PHI,SG,...,165.0,0.806,34.0,151.0,185.0,112.0,41.0,15.0,62.0,129.0
4,2017.0,Larry Nance,24.0,208.0,92.0,South Carolina,Anderson,Clemson University,LAL,PF,...,80.0,0.738,120.0,249.0,369.0,96.0,82.0,40.0,56.0,149.0

In [138]:
def data_float():
    dataflo = data[['Salary','G', 'GS', 'PTS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF']]
    return dataflo

data_float()
dataflo.type()

NameError: name 'dataflo' is not defined

In [ ]:
def correlacion():
    data_cor = dataflo.corr()
    data_cor = data_cor['Salary']
    return data_cor

correlacion()

In [ ]:
def money():
    datas = dataflo.sum()
    lista = datas.keys()
    data_money = {}
    for dat in lista:
        data_money[dat] = (datas["Salary"] / datas[dat]) * datos[dat] /(len(datas)-1)
    return data_money
     
money()